<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<section>
<h3>What Are the Benefits of Life Insurance?</h3>
<p style="font-size:120%">Payouts are tax-free. Life insurance death benefits are paid as a lump sum and are not subject to federal income tax because they are not considered income for beneficiaries.
Dependents don't have to worry about living expenses. Most policy calculators recommend a multiple of your gross income equal to seven to 10 years that can cover major expenses like mortgages and college tuition without the surviving spouse or children having to take out loans.
Final expenses can be covered. Funeral expenses can be significant and can be avoided with a burial policy or with standard term or permanent life policies.
Policies can supplement retirement savings. Permanent life policies such as whole, universal, and variable life insurance can offer cash value in addition to death benefits, which can augment other savings in retirement.</p>

<h3>What is the main purpose of life insurance?</h3>
<p style="font-size:120%">Why is life insurance important? Buying life insurance protects your spouse and children from the potentially devastating financial losses that could result if something happened to you. It provides financial security, helps to pay off debts, helps to pay living expenses, and helps to pay any medical or final expenses.</p>

<h3>What is insurance simple words?</h3>
<p style="font-size:120%">Insurance is a legal agreement between two parties – the insurer and the insured, also known as insurance coverage or insurance policy. The insurer provides financial coverage for the losses of the insured that s/he may bear under certain circumstances.</p>
</section>

</body>
</html>