
<div class="row">

    <div class="col-sm-14">
        <button type="button" style="float:right" class="btn btn-danger btn-sm" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;
        <!-- ng2-search-filter- pipe -->
          <input type="text" [(ngModel)]="term">
    </div>
</div>


<table  class="table table-hover table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Id</th><th>FirstName</th><th>LastName</th><th>UserEmail</th><th>UserName</th><th>UserAge</th><th>Gender</th><th>UerPassword</th><th>City</th>
        </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let e of emp |filter:term  | paginate: { itemsPerPage: 6, currentPage: p }">
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.userEmail}}</td>
            <td>{{e.username}}</td>
            <td>{{e.userAge}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.userpwd}}</td>
            <td>{{e.city}}</td>

            <td>
                <button type="button" class="btn btn-primary  btn-sm">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button> |
                <button type="button" class="btn btn-success btn-sm" [routerLink]= "['/CRUD/edit',e.id]">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> |
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(e.id)" (click)="getId(e.id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>

            <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Modal</h4>
                  <button type="button" class="btn-close close pull-right" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <!-- table to display information -->
                  <table>
                    <tr>
                        <td>Id</td><td>{{e.id}}</td>
                    </tr>
                    <tr>
                        <td>FirstName</td><td>{{e.firstName}}</td>
                    </tr>
                    <tr>
                        <td>LastName</td><td>{{e.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email</td><td>{{e.userEmail}}</td>
                    </tr>
                    <tr>
                        <td>UserName</td><td>{{e.username}}</td>
                    </tr>

                    <tr>
                        <td>UserAge</td><td>{{e.userAge}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td><td>{{e.gender}}</td>
                    </tr>
                    <tr>
                        <td>UserPassword</td><td>{{e.userpwd}}</td>
                    </tr>
                    <tr>
                        <td>City</td><td>{{e.city}}</td>
                    </tr>
                  </table>
                </div>
              </ng-template>
        </tr>
    </tbody>
</table>
<pagination-controls style="float:right" (pageChange)="p = $event"></pagination-controls>
